<!DOCTYPE html>
<html lang="{{meta.lang}}">

<head>
    <meta charset="UTF-8">   
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{meta.keywords}}">
    <meta name="author" content="{{meta.first_name}} {{meta.last_name}}">
    <meta name="robots" content="index,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="generator" content="gVim">

    <!-- Open Graph meta tags -->
    <meta property="og:image" content="{{meta.profile_pic}}">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:url" content="{{meta.site_url}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:type" content="profile">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="profile:first_name" content="{{meta.first_name}}">
    <meta property="profile:last_name" content="{{meta.last_name}}">
    <meta property="profile:username" content="{{social.Facebook.username}}">
    <meta property="profile:gender" content="{{meta.gender}}">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta.title}}">
    <meta name="twitter:site" content="{{social.Twitter.username}}">
    <meta name="twitter:creator" content="{{social.Twitter.username}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{meta.profile_pic}}">

    <title>{{meta.title}}</title>
    
    <link rel="canonical" href="{{meta.siteurl}}">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- http://colorschemedesigner.com/#0D21TnfIIzFzT -->
    <style type="text/css">
        body {
            padding-top: 40px;
            background-image: url('img/light_noise_diagonal.png');
        }
        .footer {
            background-color: #F5F5F5;
            border-top: 1px solid #E5E5E5;
            margin-top: 70px;
            padding: 30px 0;
            text-align: center;
        }
        .footer p {
            color: #777777;
            margin-bottom: 0;
        }
        ul.row-fluid {
            margin: 0;
        }

        ul.contacts > li {
            width: 96px;
            height: 96px;
        }

        /* Centered thumbnails
         * From: http://stackoverflow.com/a/10106240 */
        .thumbnails {
            text-align:center;
        }
        .thumbnails > li {
            display: inline-block;
            *display:inline; /* ie7 fix */
            float: none; /* this is the part that makes it work */
        }

    </style>
    <style type="text/css" media="print">
        @page {
            margin-top: 2cm;
            size: portrait;
            orphans:4;
            widows:2;
        }
        @media print
        {
            .noprint {
                display: none;
            }

            .email a:after,
            a.no-print-link:after {
                content: "" !important;
            }
            .unbreakable {
                page-break-inside: avoid;
            }
            .pagebreak {
                page-break-before: always;
            }
            .pageheader h2 {
                page-break-after: avoid;
            }
        }
    </style>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.emailSpamProtection.1.0.js"></script>
    <script type="text/javascript" src="js/holder.js"></script>
    <script type="text/javascript">
        /*jslint browser: true */
        /*global $: false */

        $(document).ready(function () {
            "use strict";
            $("body").emailSpamProtection("email");
        });
    </script>
</head>
<body data-spy="scroll" data-target=".navbar">

    <div class="navbar navbar-inverse navbar-fixed-top noprint">
        <div class="navbar-inner">
            <div class="content">
                <a class="btn btn-navbar noprint" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a href="#bio" class="brand">{{meta.first_name}} {{meta.last_name}}</a>
                <ul class="nav pull-right">
                    {{#versions}}
                    <li>
                        <a href="{{url}}">{{title}}</a>
                    </li>
                    {{/versions}}
                </ul>

                <div class="nav-collapse collapse noprint">
                    <ul class="nav nav-pills">
                        <li><a href="#bio"><i class="icon-user"></i>{{headers.bio}}</a></li>
                        <li><a href="#contact"><i class="icon-envelope"></i>{{headers.contact}}</a></li>
                        <li><a href="#portfolio"><i class="icon-briefcase"></i>{{headers.portfolio}}</a></li>
                        <li><a href="#awards"><i class="icon-certificate"></i>{{headers.awards}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    
        <section id="bio" class="container">
            <div class="page-header well unbreakable">
                <div class="row-fluid">
                    <div class="span4 text-center">
                        <img class="img-polaroid img-circle profile-pic"
                            alt="{{meta.first_name}} {{meta.last_name}} profile picture"
                            src="{{meta.profile_pic}}"/>
                    </div>
                    <div class="span8">
                        <h2>{{bio.heading}}</h2>

                        {{{bio.description}}}
                    </div>
                </div> 
            </div>
        
        </section>   

        <section id="contact" class="unbreakable container">
            <div class="page-header">
                <h2>{{headers.contact}}</h2>
            </div>
            <dl class="dl-horizontal">
                {{#emails}}
                <dt><b>{{description}}:</b></dt>
                    <dd>
                        <span class="email">
                            {{email}}
                        </span>
                    </dd>
                {{/emails}}
            </dl>

            <ul class="unstyled contacts text-center inline">

                {{#social}}
                <li class="unbreakable text-center">
                    <a class="no-print-link"
                        target="_blank"
                        href="{{url}}">
                        <img src="img/social/{{icon}}.png"
                            alt="{{network}}" title="{{network}}">
                        <p><small>{{username}}</small></p>
                    </a>
                </li>
                {{/social}}

            </ul>
        </section>
        
        <section id="portfolio" class="pagebreak container">
            <div class="page-header">
                <h2>{{headers.portfolio}}</h2>
            </div>

            {{#portfolio}}
            <div class="row-fluid">
                {{#row}}
                <div class="unbreakable span6 container ">
                    {{#url}}
                    <a target="_blank"
                        class="no-print-link"
                        href="{{url}}">
                        <h3>{{title}}</h3>
                    </a>
                    {{/url}}

                    {{^url}}
                    <h3>{{title}}</h3>
                    {{/url}}
                    
                    <small class="muted">({{duration}})</small>
                    <ul class="thumbnails text-center">
                        {{#thumbs}}
                        <li>
                            <div class="thumbnail">
                                <a target="_blank"
                                    class="no-print-link"
                                    href="{{../url}}">
                                    <img src="img/portfolio/{{thumb}}"
                                    alt="{{alt}}"
                                    title="{{title}}"
                                    >
                                </a>
                            </div>
                        </li>
                        {{/thumbs}}
                    </ul>

                    <p>{{{description}}}</p>

                    {{#url}}
                    {{#button_text}}
                    <a target="_blank"
                        class="btn btn-primary btn-large"
                        href="{{url}}">{{this}}</a>
                    {{/button_text}}
                    {{/url}}
                </div>
                {{/row}}

            </div>
            {{/portfolio}}
        </section>

        <section id="awards" class="pagebreak">    
            <div class="page-header">
                <h2>Awards and Achievements</h2>
            </div>
            <div class="row-fluid">
                <div class="span6 unbreakable">
                    <h3><i>Codebits 2007</i> Winner</h3>
                    <h4>Creativity Category, Bem q'asapas</h4>
                    <small class="muted">Lisbon, Portugal, 2007</small>
                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img src="img/awards/codebits2007_thumb.jpg"
                                    alt="Me and my mates participating on Codebits 2007">
                            </div>
                        </li>
                    </ul>
                    <ul class="unstyled inline">
                        <li><a class="btn btn-info"
                            href="https://www.youtube.com/watch?v=Tvj0HhOg5XI">
                            Presentation (Youtube Video)
                        </a></li>
                        <li><a class="btn btn-info"
                            href="http://blogues.publico.pt/tecnopolis/2008/11/10/sapo-codebits/">
                            Newspaper article
                        </a></li>
                    </ul>
                </div>
                
                <div class="span6 unbreakable">
                    <h3>Honorable Mention at <abbr title="Concurso Jovens Cientistas e Investigadores"><i>CJCI</i></abbr></h3>
                    <small class="muted">Lisbon, Portugal, 2008</small>
                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img src="img/awards/cjci_thumb.jpg"
                                    alt="CJCI logo">
                            </div>
                        </li>
                    </ul>
                    <ul class="unstyled inline">
                        <li><a class="btn btn-info"
                            href="http://www.fjuventude.pt/jcientistas2008/static/jc2008_premios.pdf">
                            Contest Classifications
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">    
                <div class="span6 unbreakable">
                    <h3><abbr title="Maratonas Interuniversit&aacute;rias de Programa&ccedil;&atilde;o 2011"><i>MIUP'11</i>
                    </abbr></h3>

                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img data-src="holder.js/256x192/text:MIUP 2011">
                            </div>
                        </li>
                    </ul>

                    <h4>Third Place, on the team <i>CaparicaTuxz</i></h4>
                    <small class="muted">Faro, Portugal, 2011</small>
                </div>
                
                <div class="span6 unbreakable">
                    <h3><abbr title="Southwest Regional Contest"><i>SWERC</i></abbr> 2011</h3>
                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img data-src="holder.js/256x192/text:SWERC 2011">
                            </div>
                        </li>
                    </ul>
                    <h4>Contestant, on the team <i>CaparicaTuxz</i></h4>
                    <small class="muted">Madrid, Spain, 2011</small>
                    <ul class="unstyled inline">
                        <li><a class="btn btn-info"
                            href="http://pc.fdi.ucm.es/swerc/Standings.html">
                            Classifications
                        </a></li>
                    </ul>
                </div>

            </div>
            <div class="row-fluid">    
                
                <div class="span6 unbreakable">
                    <h3><abbr title="Maratonas Interuniversit&aacute;rias de Programa&ccedil;&atilde;o 2012"><i>MIUP'12</i>
                    </abbr></h3>
                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img src="img/awards/miup2012_thumb.jpg"
                                    alt="From left to right, Diogo Sousa, David Serrano, Daniel Parreira and Margarida Mamede, being the MIUP&apos;12 bronze medalists">
                            </div>
                        </li>
                    </ul>
                    <h4>Bronze Medal (fifth place), on the team
                    <i>AsymptoticFunctor</i></h4>
                    <small class="muted">Porto, Portugal, 2012</small>

                    <ul class="unstyled inline">
                       <li><a class="btn btn-info"
                           href="http://miup2012.dcc.fc.up.pt/sessao/classification.html">
                            Classifications
                        </a></li>
                    </ul>
                </div>
                
                <div class="span6 unbreakable">
                    <h3><abbr title="Southwest Regional Contest"><i>SWERC</i></abbr> 2012</h3>
                    <ul class="thumbnails">
                        <li>
                            <div class="thumbnail">
                                <img src="img/awards/swerc2012_thumb.jpg"
                                    alt="From left to right, Diogo Sousa, Daniel Parreira, David Serrano and Margarida Mamede, posing for the SWERC 2012 team photo">
                            </div>
                        </li>
                    </ul>
                    <h4>Contestant, on the team <i>AsymptoticFunctor</i></h4>
                    <small class="muted">Valencia, Spain, 2012</small>
                    <p class="muted"><i>It was a very disappointing run...</i></p>
                    <ul class="unstyled inline">
                        <li><a class="btn btn-info"
                            href="http://swerc.dsic.upv.es/resultados/public/index.html">
                            Classifications
                        </a></li>
                    </ul>
                </div>
            </div>
        </section>
        
    </div>

    <footer class="footer noprint">
        <div class="container">
            &copy;2013 David Miguel de Ara&uacute;jo Serrano
            <p>Feel free to use this page as a template,<br/> as long
            as you keep your code open and unobfuscated (it's OK to
            minimize scripts though).</p>
            <p>An attribution to the original author (me)
            would be appreciated.</p><p>Just refer to this site, hire me or
            do something nice for me...</p>
        </div>
    </footer>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
